

{% extends 'base.html' %}

{% block body %}

	<h2> Vertical Tank Maintenance</h2>

	<h3> Create an estimate</h3>
	<form action="/estimate" method="GET" method= "POST">
		<label for="tank_radius">Tank Radius:</label>
		<input type="text" id="tank_radius" name="tank_radius" />
		<br>
		<label for="tank_height">Tank Height:</label>
		<input type="text" id="tank_height" name="tank_height" />
		<br>
		<input type="submit" id="submit" value="Submit">
		<input type="reset" value="Clear" /> 
	</form>
	
	<p>The estimated price is ${{total_estimate}}

	</p>

{% for number in total_estimate %}
<tr>
  <td>{{ total_estimate }}</td>
</tr>
{% endfor %}
	
	{% endblock %}